{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Добрый хвост — Ветеринарная клиника{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
  <header class="site-header">
    <div class="container header-inner">
      <div class="brand">
        <a href="{% url 'home' %}" class="brand-link">
          <img src="/static/img/logo.png" alt="Добрый хвост" class="brand-logo" />
          <div class="brand-text">
            <div class="brand-title">Добрый хвост</div>
            <div class="brand-sub">Ветеринарная клиника</div>
          </div>
        </a>
      </div>

      <nav class="main-nav">
    <a href="{% url 'home' %}">Главная</a>
    <a href="{% url 'vets' %}">Врачи</a>
    <div class="dropdown">
        <a href="#">Услуги ▼</a>
        <div class="dropdown-content">
            <a href="{% url 'surgery' %}">Хирургия</a>
            <a href="{% url 'therapy' %}">Терапия</a>
            <a href="{% url 'sterilization' %}">Стерилизация</a>
            <a href="{% url 'castration' %}">Кастрация</a>
        </div>
    </div>
    <a href="{% url 'appointment' %}">Записаться</a>
    <a href="/admin/">Админ</a>
</nav>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container footer-inner">
      <div class="footer-left">
        <img src="{% static 'img/logo.png' %}" alt="logo" class="footer-logo" />
        <div>
          <div class="brand-title">Добрый хвост</div>
          <div class="brand-sub">г. Сургут, ул. Пушкина, 1 • 8 (800) 000-00-00</div>
        </div>
      </div>

      <div class="footer-right">
        <nav class="footer-nav">
          <a href="{% url 'home' %}">Главная</a>
          <a href="{% url 'vets' %}">Врачи</a>                 
          <a href="{% url 'appointment' %}">Записаться</a>     
        </nav>
        <small class="copyright">© 2025 «Добрый хвост». Все права защищены.</small>
      </div>
    </div>
  </footer>
</body>
</html>

